body {
    background: linear-gradient(to right,
    #F6EDDC 50%, #186A64 50%);
    margin: 0;
    padding: 0;
}

.scroll1 {
    height: 100vh;
    /* border: yellow solid; */
}

.wrapper {
    display: flex;
    /* border: yellow solid; */
    margin: 0px 7.3vw;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
}

a {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 0;
    padding: 0;
}

/* .hero .container {
    width: 700px;
    height: auto;
    border: yellow solid;
    margin: 0;
    padding: 0;


} */

.hero-people {
    width: 20%;
    margin-left: -2vw;
    height: 100%;
    /* border: yellow solid; */
    margin-top: -2vw;
    padding: 0;
}


.container img {
    max-width: 50px;
    max-height: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    /* border: yellow solid; */
}

.hero {
    display: flex;
    /* border: yellow solid; */
    margin: 15vh 14.5vw 0 14.5vw;
    padding: 0;
    /* gap: 1%; */
    background: linear-gradient(to right, #292222 50%, white 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: space-between;
}

.text-line {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    /* border: yellow solid; */
    margin: 0;
    padding: 0;
    align-content: flex-start;
}

.main-text {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 60px;
    color: #292222;
    font-weight: bold;
    padding: 0 0 20px 0;
    margin: 0px;
    background:linear-gradient(to right, #292222 62.5%, white 50%) bottom;
    background-repeat: no-repeat;
    background-size: 100% 10px;
    /* border: yellow solid; */
}

part1 {
    letter-spacing: 0.06em;
}

part2 {
    letter-spacing: 0.02em;
}

.second-text {
    color: #292222;
    font-family: 'Wremena', sans-serif;
    font-weight: bold;
    font-size: 32px;
    /* border: yellow solid; */
    width: 20vw;
}


.container-bowl {
    /* border: yellow solid; */
    margin: 0vh 14.5vw 0 14.5vw;
    padding: 0;
    /* border: yellow solid; */
}

.bowl {
    width: 45vw;
    margin-top: -8vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: yellow solid; */
    padding: 0;
}

.globe {
    /* height: 50px; */
    margin: 0px 7.3vw;
    padding: 0;
    /* border: yellow solid; */
    margin: 0vh 7.3vw 0 7.3vw;
}


.globe .pic-globe {
    max-width: 3vw;
    max-height: auto;
    display: block;
    margin-top: -3vw;
    /* border: yellow solid; */
}

.globe .pic-arrow {
    max-width: 8vw;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -2vw;
    /* border: yellow solid; */
}

